.main {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  background: #eee;
  margin-top: 10px;
  justify-content: space-between;
}

.sec {
  padding: 5px;
  width: 50%;
}

.checkboxWrap {
  padding: 0 7px 0 0;  
}

/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
/**************************************************************************/
.desktop.main {
  border-radius: 5px;
}

.desktop .sec {
  width: 25%;
  border-radius: 5px;
}
