.main {
  padding: 10px 10px 10px 0;
  border-bottom: 1px solid rgb(228, 228, 228);
  display: flex;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sec1,
.sec2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.sec2 svg {
  color: #b5b5b5;
}
.title {
  padding: 0 10px;
}
.poster,
.qr {
  width: 50px;
  border: 1px solid #ccc;
  flex-shrink: 0;
}
.qr {
  width:22px
}
.icon {
  font-size: 26px !important;
  margin-right: 8px;
}
.toGetCommited {}
