.main {
  padding: 0 20px 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.header {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.header svg {
  margin-left: 5px;
  font-size: 32px;
  color: #0718fc;
}
.title {
  font-family: "shabnamBold";
  font-size: 16px;
}
.preview {
  font-size: 13px;
  text-align: right;
}
.footer {
  display: flex;
  justify-content: flex-end;
}
.readMore {
  font-size: 13px;
  /* border: 1px solid rgb(192, 192, 192); */
  border-radius: 5px;
  padding: 2px 5px 0 0;
  margin-top: 8px;
}
.moreContent {
  padding: 30px 25px 30px 20px;
  border-top: 3px solid #ff3543;
  border-top: 3px solid #0718fc;
}
.moreContent .header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}
.moreContent .header .title {
  padding: 3px 0 0 20px;
  display: flex;
  align-items: center;
}
.moreContent .body {
line-height: 30px;
}
/**/