.carousel {
  margin-top: 35px;
  overflow: hidden;
}

.mobile.carousel {
}
.thumbnail {
  border-radius: 3px;
  position: relative;
}
.bigImage {
  display: block;
  width: 100%;
}
.thumbnailIcon {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thumbnailIcon svg{
  margin: 0;
  color: white;
  font-size: 26px;
  opacity: 0.8;
}
.bigSlideWrap {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bigSlide {
  position: relative;
  width: 100%;
  width: calc(100% - 2px);
  border: 1px solid #444;
}
.bigSlide .ratio {
  display: block;
  width: 100%;
  height: auto;
}
.bigSlide iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.slideHandle {
  color: #888;
  font-size: 25px !important;
  margin-top: 15px;
}