.main {
}
.cover {
  display: flex;
  padding: 40px 0 30px 0;
  -moz-box-pack: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.cover .name {
  font-family: shabnamBold;
}
.cover svg {
  opacity: 0.5;
  margin-left: 5px;
  font-size: 80px;
}

.tabs {
  margin-bottom: 20px;
}

.dataGrid {
  padding: 0 30px;
}
.dataGrid .field {  
  display: flex;
  margin-bottom: 10px;
}
.dataGrid .field label {  
  width: 100px;  
  opacity: 0.8;
}
.dataGrid .field .value {  
  color: black;
}

/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
.desktop .cover {
  padding: 30px 25px;
  margin-bottom: 20px;
}

/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
/**********************************************************************************/
.commentsHeader {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 20px;
  margin-bottom: 5px;
  align-items: center;
}
